*~
/*.el
/ha-work.org
/elisp/gourmet-projects.el
/ha-private.org
/incubate.org
/elisp/bookmark+*.el
/.DS_Store
/elisp/gourmet.el
/elisp/wd-imaas.el
/ha-theme-results.org
/support/dashboard
/.emacs.desktop
